{
    "endOfLine": "auto",
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "strict",
    "vueIndentScriptAndStyle": true,
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "printWidth": 80
}
