@tailwind base;
@tailwind components;
@tailwind utilities;

/* website used to conveniently copy color codes: https://ui-colorgen.vercel.app/ */
@layer base {
    :root {
        --brand: 238.7 83.5% 66.7%;
    }

    .dark {
        --brand: 229.7 93.5% 81.8%;

        --bg-primary: 225 7% 11%;
        --bg-secondary: 228 7% 14%;
        --bg-tertiary: 220 7% 17%;
    }
}

@layer base {
    :root {
        --background: 240 7% 97%;
        --foreground: 220 12% 5%;

        --card: 240 7% 97%;
        --card-foreground: var(--foreground);

        --popover: 240 7% 97%;
        --popover-foreground: var(--foreground);

        --primary: 228 10% 20%;
        --primary-foreground: 0 0% 98%;

        --secondary: 231 25% 90%;
        --secondary-foreground: var(--foreground);

        --muted: 228 16% 94%;
        --muted-foreground: 228 13% 40%;

        --accent: 228 16% 94%;
        --accent-foreground: var(--foreground);

        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 229 21% 90%;
        --input: 227 24% 85%;
        --ring: var(--primary) / 0.5;

        --radius: 0.6rem;
    }

    .dark {
        --background: var(--bg-primary);
        --foreground: 231 14% 90%;

        --card: var(--bg-secondary);
        --card-foreground: var(--foreground);

        --popover: var(--bg-secondary);
        --popover-foreground: var(--foreground);

        --primary: var(--brand);
        --primary-foreground: var(--background);

        --muted: var(--accent);
        --muted-foreground: 229 8% 60%;

        --accent: var(--bg-tertiary);
        --accent-foreground: var(--foreground);

        --destructive: 0 90.6% 70.8%;
        --destructive-foreground: var(--background);

        --border: 227 10% 17%;
        --input: 226 10% 25%;
        --ring: 228 83% 79% / 0.8;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    /* Typography */
    h1 {
        @apply text-4xl font-bold lg:text-5xl tracking-tight;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-xl font-semibold;
    }
}

@layer components {
    .container {
        @apply h-full;
    }
}

/* https://github.com/radix-ui/primitives/issues/1925 */
/* Radix dropdown and select elements when in opened state, add "overflow:hidden" and "margin-right" to the body */
/* This is Radix's implementation of "Lock scroll", which I don't want */
html {
    overflow-y: auto !important;
}

html body {
    margin-right: 0px !important;
}
