@tailwind base;
@tailwind components;
@tailwind utilities;

/* site to copy hsl values from original tailwind colors: https://ui-colorgen.vercel.app/ */
/* site to generate in-between colors (shades, tints): https://noeldelgado.github.io/shadowlord/#09090b */

/* local css variables for branding colors */
@layer base {
    :root {
        --brand: 221.2 83.2% 53.3%;
        --brand-text: 224.3 76.3% 48%;
    }

    .dark {
        --brand: 221.2 83.2% 53.3%;
        --brand-text: 213.1 93.9% 67.8%;
    }
}

/* custom css variables that are not included in shadcn/ui */
@layer base {
    :root {
        --primary-light: var(--brand) / 0.1;
        --primary-text: var(--brand-text);
        --destructive-text: var(--destructive);
        --success: 142.1 76.2% 36.3%;
    }

    .dark {
        --primary-light: var(--brand) / 0.15;
        --primary-text: var(--brand-text);
        --destructive-text: 0 90.6% 70.8%;
        --success: 141.9 69.2% 58%;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: var(--brand);
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: var(--brand) / 0.75;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 240 5.9% 90%;
        --card: 240 7% 6%;
        --card-foreground: var(--foreground);
        --popover: var(--background);
        --popover-foreground: var(--foreground);
        --primary: var(--brand);
        --primary-foreground: 240 4.8% 95.9%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 3% 52%;
        --accent: 240 5% 9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 240 4.8% 95.9%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: var(--brand);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    /* Typography */
    h1 {
        @apply text-4xl font-bold lg:text-5xl tracking-tight;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-xl font-semibold;
    }
}

@layer components {
    .container {
        @apply h-full;
    }
}

/* https://github.com/radix-ui/primitives/issues/1925 */
/* Radix dropdown and select elements when in opened state, add "overflow:hidden" and "margin-right" to the body */
/* This is Radix's implementation of "Lock scroll", which I don't want */
html {
    overflow-y: auto !important;
}

html body {
    margin-right: 0px !important;
}
