@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* additional start */
        --brand: 242 67% 59%; /* color-600 */
        --brand-hover: 243 52% 51%; /* color-700 */
        --success: 142 76% 36%; /* added (tw-green-500) */
        /* additional end */

        --background: 0 0% 100%;
        --foreground: 225 7% 11%;
        --card: 0 0% 100%;
        --popover: 0 0% 100%;
        --popover-foreground: 225 7% 11%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        /* common for both dark and light theme */
        --ring: var(--brand);
        --radius: 0.6rem;
        --brand-foreground: var(
            --background
        ); /* used with brand background, e.g. button */
        --success-foreground: var(--background);
        --primary: var(--brand);
        --primary-foreground: var(--brand-foreground);
        --accent: var(--secondary);
        --accent-foreground: var(--secondary-foreground);
        --card-foreground: var(--foreground);
    }

    .dark {
        /* additional */
        --brand: 228 83% 79%; /* color-300 */
        --brand-hover: 233 79% 74%; /* color-400 */
        --success: 142 77% 73%; /* green-300 */
        /* additional end */

        --background: 225 7% 11%;
        --foreground: 0 0% 86%;
        --card: 228 7% 14%;
        --popover: var(--background);
        --popover-foreground: 0 0% 98%;
        --secondary: 220 7% 17%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --destructive: 353 96% 82%; /* rose-300 */
        --destructive-foreground: 0 0% 98%;
        --border: 240 4% 19%;
        --input: 240 3.7% 15.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    /* Typography */
    h1 {
        @apply text-4xl font-bold lg:text-5xl tracking-tight;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-xl font-semibold;
    }
}

@layer components {
    .container {
        @apply h-full;
    }
}

/* https://github.com/radix-ui/primitives/issues/1925 */
/* Radix dropdown and select elements when in opened state, add "overflow:hidden" and "margin-right" to the body */
/* This is Radix's implementation of "Lock scroll", which I don't want */
html {
    overflow-y: auto !important;
}

html body {
    margin-right: 0px !important;
}
